h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h3,
h2 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.5; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

p {
  font-family: "Open Sans", sans-serif;
  color: #6c788b; }

html {
  background-color: #f2f9ff; }

.header {
  height: 800px;
  background-color: #008aff;
  position: relative;
  border-bottom-left-radius: 200px;
  z-index: 1;
  color: #fff; }
  .header__title {
    max-width: 420px;
    position: absolute;
    top: 240px;
    left: 227px; }
    .header__title--heading {
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px; }
  .header__slider {
    position: absolute;
    bottom: 0;
    right: 0; }
  .header__toggler {
    display: none; }
    .header__toggler-label {
      display: none;
      width: 18px;
      height: 12px;
      background-image: url("../images/menu.png"); }

@media screen and (max-width: 1300px) {
  .header {
    border-bottom-left-radius: 0; }
    .header__title {
      left: 20%; }
    .header__toggler-label {
      display: block;
      position: absolute;
      top: 60px;
      right: 20%;
      z-index: 2;
      cursor: pointer; }
    .header__toggler:checked ~ .nav > .nav__list {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .header__toggler:checked + .header__toggler-label {
      width: 16px;
      height: 16px;
      background-image: url("../images/x.png");
      z-index: 3; } }

.nav {
  text-transform: uppercase;
  letter-spacing: 3px; }
  .nav__logo {
    position: absolute;
    top: 49px;
    left: 228px; }
  .nav__list {
    position: absolute;
    top: 52px;
    left: 351px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .nav__link {
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .nav__link:hover {
      background-color: #ff9c8e; }
  .nav__action {
    position: absolute;
    top: 52px;
    right: 227px;
    color: #fff; }
    .nav__action::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background: #ff9c8e;
      content: "";
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translateY(20px);
              transform: translateY(20px); }
    .nav__action:hover::after {
      opacity: 1;
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }
    .nav__action--link {
      padding: 7px 0;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase; }
  .nav__mobile_action {
    display: none;
    position: relative;
    bottom: 0; }
    .nav__mobile_action::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background: #ff9c8e;
      content: "";
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translateY(20px);
              transform: translateY(20px); }
    .nav__mobile_action:hover::after {
      opacity: 1;
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }

@media screen and (max-width: 1300px) {
  .nav__list {
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #008aaa;
    z-index: 2;
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .nav__action {
    display: none; }
  .nav__mobile_action {
    display: block;
    margin-top: 20px; }
  .nav__link {
    font-size: 28px; }
  .nav__item {
    margin-bottom: 10px; }
  .nav__logo {
    left: 20%; } }

.logo {
  width: 44.82px;
  height: 25.63px;
  background-image: url("../images/logo/air-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 3; }

.title__main {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px; }

.title__text {
  font-size: 18px;
  line-height: 27px;
  margin: 32px 0 83px;
  color: #fff; }

.title__button {
  width: 226px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background: #ff9c8e;
  border-radius: 64px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  .title__button:hover {
    background-color: #fff;
    color: #ff9c8e; }

@media screen and (max-width: 1300px) {
  .title {
    max-width: 60%;
    top: 20%; }
    .title__text {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 27px;
      margin: 15px 0 40px; } }

@media screen and (max-width: 500px) {
  .title__main {
    font-size: 42px;
    line-height: 42px; }
  .title__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 15px 0 40px; }
  .title__button {
    width: 100%; } }

.slider {
  height: 680px;
  width: 678px;
  background-image: url("../images/slider/slide-img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 200px; }
  .slider__info {
    width: 60%; }
  .slider__nav {
    position: absolute;
    bottom: 48px;
    left: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .slider__text1 {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #fff; }
  .slider__text2 {
    font-size: 14px;
    color: #fff; }
  .slider__nav_button--left {
    background-image: url("../images/slider/arrow-left.svg"); }
  .slider__nav_button--right {
    background-image: url("../images/slider/arrow-right.svg"); }
  .slider__nav_button--left, .slider__nav_button--right {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .slider__nav_button--left:hover, .slider__nav_button--right:hover {
      background-color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 1300px) {
  .slider {
    height: 300px;
    width: 100%; }
    .slider__info {
      width: 60%; } }

.container {
  max-width: 1145px;
  padding: 0 100px;
  margin: 0 auto; }

@media screen and (max-width: 920px) {
  .container {
    padding: 0 50px; } }

@media screen and (max-width: 500px) {
  .container {
    padding: 0 20px; } }

.about {
  padding: 148px 0; }
  .about__content {
    max-width: 754px;
    margin: 0 auto; }
  .about__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

@media screen and (max-width: 1300px) {
  .about {
    padding: 80px 0; } }

@media screen and (max-width: 920px) {
  .about {
    padding: 60px 0; }
    .about__title {
      font-size: 24px; }
    .about__text {
      font-size: 16px; } }

@media screen and (max-width: 500px) {
  .about {
    padding: 40px 0; } }

.expertice {
  padding: 128px 0 134px;
  background-color: #fff; }
  .expertice__heading {
    text-align: center;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 64px;
    color: #253757; }
  .expertice__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media screen and (max-width: 920px) {
  .expertice {
    padding: 40px 0; }
    .expertice__content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .expertice__item {
      margin-bottom: 40px; }
    .expertice__heading {
      font-size: 36px;
      margin-bottom: 24px; } }

.item {
  width: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .item__img {
    border-radius: 15%; }
  .item__title {
    margin: 40px 0 16px;
    font-weight: 600;
    font-size: 20px;
    color: #253757; }
  .item__text {
    font-size: 14px;
    text-align: center; }

@media screen and (max-width: 920px) {
  .item__title {
    margin: 15px 0 5px; } }

.process {
  padding: 148px 0; }
  .process__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .process__textblock {
    max-width: 362px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .process__textblock--top {
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7; }
    .process__textblock--title {
      margin: 16px 0 0;
      line-height: 130%;
      font-weight: 600;
      font-size: 32px;
      color: #253757; }
    .process__textblock--text {
      font-size: 14px;
      margin-top: 20px;
      line-height: 150%; }
  .process__cardblock {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-gap: 30px; }
  .process__card:nth-child(odd) {
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }

@media screen and (max-width: 1300px) {
  .process {
    padding: 80px 0; }
    .process__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .process__textblock {
      max-width: 100%;
      margin-bottom: 40px; }
    .process__card:nth-child(odd) {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

@media screen and (max-width: 650px) {
  .process {
    padding: 40px 0; }
    .process__cardblock {
      grid-template-columns: 264px; } }

.card {
  max-width: 264px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .card__nmb {
    display: inline;
    padding: 2px 12px;
    color: #56ccf2;
    background: rgba(86, 204, 242, 0.1);
    border-radius: 23px;
    font-weight: 600; }
  .card__text {
    margin: 24px 0 32px;
    font-weight: 600;
    line-height: 150%;
    color: #6c788b; }
  .card__btn {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #56ccf2;
    background-image: url("../images/arrow.svg"); }
  .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #334563; }
  .card--yellow .card__nmb {
    color: #fcc91d;
    background-color: rgba(252, 201, 29, 0.1); }
  .card--yellow .card__btn {
    background-color: #fcc91d; }
  .card--green .card__nmb {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1); }
  .card--green .card__btn {
    background-color: #15d850; }
  .card--pink .card__nmb {
    color: #f36363;
    background-color: rgba(243, 99, 99, 0.1); }
  .card--pink .card__btn {
    background-color: #f36363; }

/*# sourceMappingURL=main.css.map */
